<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="WebApp-Backend">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
              <file>src/dependencies.php</file>
              <file>src/settings.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="testdox-html" target="tests/testdox.html"/>
    </logging>
</phpunit>
